body {
  margin: 0 auto;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  color: #566b78;
}

.container {
  max-width: 75em;
  padding: 4em 1em;
}

h2 {
  margin-top: 1em;
  padding-top: 1em;
}


h1, h2, strong {
  color: #333;
}

code, pre {
  background: #f5f7f9;
  border-bottom: 1px solid #d8dee9;
  color: #a7adba;
}

code {
  padding: 2px 4px;
  vertical-align: text-bottom;
}

pre {
  padding: 1em;
  border-left: 2px solid #69c;
}

ul {
  list-style-type: none;
}

input {
  padding: .5em .6em;
  display: inline-block;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  vertical-align: middle;
  box-sizing: border-box;
}